body,html {
    width: 100vw;
    height: 100%;
    background: linear-gradient(orange, rgb(153, 13, 153));
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}


#post-container {
    width: 45%;
    height: 97%;
    background-color: #fff;
    border-radius: 5px;
    border: solid 1px rgba(61, 51, 51, 0.683);
}



.top-info-container {
    width: 100%;
    height: 40px;
    margin-top: 0;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    display: flex;
    
    align-content: center;
}

.profile-picture {
    width: 10%;
    height: 90%;
    margin-left: 5px;
    border: solid 1px black;
    border-radius: 100%;
    background: red;
}

.profile-picture img{
    border-radius: 50%;
}

.username-location {
    width: 80%;
    height: 100%;
    background: cyan;
}

#post-image-container {
    width: 100%;
    height: 60%;
}

video {
    object-fit:fill;
}